html {
    user-select: none;
}

body {
    margin: 0px;
    height: 100%;
}

.lobby-wrap {
    background-color: #ECCFAD;
    height: 100vh;
}

nav {
    background-color: #333333;
}

nav .brand-logo {
    margin-left: 20px;
    font-style: italic;
}

.upper-row {
    margin-top: 0.3%;
    height: 27%;
}

.player-grid .player-container {
    padding: 0;
}

.middle-row {
    margin-top: 3%;
    height: 27%;
}

.lower-row {
    margin-top: 3%;
    height: 27%;
    background-color: yellow;
}

.extra-info {
    height: 100%;
}


/*TODO*/

.extra-info .row {
    background-color: aqua;
    height: 20%;
}

.player-grid {
    height: 100%;
}

.player-container {
    height: 100%;
    width: 70%;
    border: black 3px solid;
    background-color: white;
}

.player-container .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.player-name {
    height: 10%;
    border-bottom: black 3px solid;
    text-align: center;
}

.player-status {
    height: 40%;
}

.player-counters {
    height: 50%;
    border-bottom: black 3px solid;
}

.player-counters .col {
    padding: 0;
}

.player-counter-card {
    border-right: black 3px solid;
    height: 100%;
    text-align: center;
}

.player-counter-life {
    border-right: black 3px solid;
    height: 100%;
}

.player-badge {
    height: 50%;
}

.player-badge .col {
    height: 100%;
    border-bottom: black 3px solid;
    border-right: black 3px solid;
    padding: 0;
}

.player-equipments {
    height: 50%;
    margin-top: 13%;
}

.player-equipments .row {
    border-top: black 3px solid;
    height: 20%;
    text-align: center;
}