html {
    user-select: none;
}

body {
    margin: 0px;
    height: 100%;
}

.body-wrap {
    background-color: #ECCFAD;
    height: 100vh;
}

nav {
    background-color: #333333;
}

nav .brand-logo {
    margin-left: 20px;
    font-style: italic;
}

.upper-row {
    margin-top: 0.3%;
    height: 27%;
}

.player-grid .player-container {
    padding: 0;
}

.middle-row {
    height: 27%;
}

.middle-row .player-container {
    margin-left: 3%;
    width: 11%;
    padding: 0;
}

.card-pile {
    width: 11%;
    padding: 0;
    border: black 3px solid;
    height: 100%;
}

#draw-pile {
    font-size: 270%;
}

#discard-pile {
    margin-left: 5.5%;
}

.lower-row {
    height: 27%;
    margin-top: 4%;
    margin-bottom: 0;
    overflow-y: hidden;
}

.lower-row .player-container {
    margin-left: 3%;
    width: 11%;
    padding: 0;
}

.extra-info {
    height: 100%;
}


/*TODO*/

.extra-info .row {
    background-color: aqua;
    height: 20%;
}

.player-grid {
    height: 100%;
}

.player-container {
    height: 100%;
    width: 70%;
    border: black 3px solid;
    background-color: white;
}

.player-container .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

.player-name {
    height: 9%;
    border-bottom: black 3px solid;
    text-align: center;
}

.player-status {
    height: 35%;
}

.player-counters {
    height: 50%;
    border-bottom: black 3px solid;
}

.player-counters .col {
    padding: 0;
}

.player-counter-card {
    border-right: black 3px solid;
    height: 100%;
    text-align: center;
}

.player-counter-life {
    border-right: black 3px solid;
    height: 100%;
}

.player-badge {
    height: 50%;
}

.player-badge .col {
    height: 100%;
    border-bottom: black 3px solid;
    border-right: black 3px solid;
    padding: 0;
}

.player-equipments {
    height: 40%;
    margin-top: 66%;
}

.player-equipments .row {
    border-top: black 3px solid;
    height: 22%;
    text-align: center;
}

.hand {
    border: black 3px solid;
    height: 100%;
    background-color: white;
    border-left: none;
}

#chat {
    border: black 3px solid;
    border-left: 0;
    height: 100%;
    padding: 0;
}

#tips {
    border-bottom: black 3px solid;
    height: 26%;
    margin-bottom: 0;
}

#tips b {
    margin: auto;
}

#card-wrapper {
    height: 70%;
    padding-left: 3%;
    overflow-y: scroll;
}

#card-wrapper .col {
    padding: 0;
}

.card {
    border: black 3px solid;
    height: 74%;
    margin-right: 3%;
    margin-top: 1%;
}

.textarea {
    height: 145px;
    overflow-y: visible;
    resize: none;
}

.message {
    height: 30px;
}

.width50 {
    width: 50px;
}

.m0 {
    margin: 0px;
}

.p0 {
    padding: 0px;
}

.m-2 {
    margin: 2px;
}

.mt5 {
    margin-top: 5px;
}

.p2 {
    padding: 2px;
}